body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
nav{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 12px;
  font-size: 30px;
  background-color: gainsboro;
  box-shadow: 0 0 2px gray;
  position: sticky;
  top: 0;
  left: 0;
}
nav img{
  height: 100%;
  width: 80px;
}
nav>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  list-style: none;
}
nav ul li a{
  color: black;
  text-decoration: none;
}
#check{
  display: none;
}
.hero{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  background-image: url("../Home1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 16px;
  font-family: sans-serif;
  font-weight: 900;
  margin: 0;
}
.hero h1{
  color: transparent;
  font-family: cursive;
  background-clip: text;
  background-image: linear-gradient(lightblue, blue, purple,pink,lightblue);
}

@media (max-width: 640px){
  nav>ul{
    flex-direction: column;
    width: 100%;
    translate: 0 130px;
    display: none;
    background-color: gainsboro;
  }
  nav ul li{
    width: 100%;
    padding: 5px 12px;
    translate: -19px 0;
    border-bottom: 1px solid chocolate;
  }
  #check{
    display: block;
  }
  .hero{
    width: 98%;
    height: 70vh;
  }
  
}

